<div class="form-horizontal">
	<div class="legend" data-i18n="TAB_ABOUT/LEGEND_ABOUT"></div>
	<div class="row">
		<div class="span4">
			<div class="rl-logo"></div>
			<div>
				2026 © Frickmail
				<br>
				<a class="g-ui-link" href="https://github.com/ilfrick/frickmail" target="_blank" style="padding-left: 0">github.com/ilfrick/frickmail</a>
			</div>
		</div>
		<div class="span6">
			<h1 style="margin-bottom: 0;">Frickmail</h1>
			<h4 style="margin-top: 0;" data-bind="text: version"></h4>
			<h4 style="color: #aaa; font-weight: normal;" data-i18n="TAB_ABOUT/LABEL_TAG_HINT"></h4>

			<div>
				<hr>
				<div data-bind="visible: 'error' === statusType()">
					<i class="fontastic" style="color:red">⚠</i>
					<span data-bind="text: errorDesc"></span>
				</div>
				<div data-bind="visible: 'up-to-date' === statusType()">
					<i style="color: green">✔</i>
					<span data-i18n="TAB_ABOUT/HINT_IS_UP_TO_DATE"></span>
				</div>
			</div>

			<h3>System</h3>
			<table class="table table-hover table-bordered"><tbody>
				<tr>
					<td>Average load past minute</td>
					<td data-bind="text: load1"></td>
				</tr>
				<tr>
					<td>Average load past 5 minutes</td>
					<td data-bind="text: load5"></td>
				</tr>
				<tr>
					<td>Average load past 15 minutes</td>
					<td data-bind="text: load15"></td>
				</tr>
			</tbody>
			</table>

			<h3>PHP</h3>
			<table class="table table-hover table-bordered"><thead><tr>
				<th>Extension</th>
				<th>Loaded</th>
			</tr></thead><tbody data-bind="foreach: phpextensions">
				<tr>
					<td data-bind="text: name"></td>
					<td data-bind="text: loaded ? '✔' : '❌'"></td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>
